*
{
    box-sizing: border-box;
    transition: all 0.8s ease;
}
.ts_nav
{
 height: 10vh;
 width: 100%;
 background:  linear-gradient(#e66465, #9198e5);
 display: flex;
 
}
@keyframes beat{
    0% {background-color: rgb(213, 228, 250)}
    50%{background-color: rgb(174, 185, 201)}
    100% {background-color: rgb(119, 131, 148)}
}
